body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: lightyellow;
  color:black;
}
.header_menu{
  padding: 0em 0em 1em 1em;
  display: flex;
  justify-content: space-between ;
  border-bottom: 1mm ridge black;
  background-color: white;
}
.btn-group{
  padding: 1em 0em 0em 0em;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: grey;
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: lightblue;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: white;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: white;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}
.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: teal;
}
.blog-main {
  font-size: 18px;
  line-height: 1.5;
}
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child
 {
  margin-bottom: 0;
}
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: grey;
}
.blog-footer{
  height: 120px;
  background-color: white;
}

.btn-primary{
  background-color: white;
  color: black;
  border: 0;
}
.btn-group{
  justify-content: end;
  padding: 1em 0em 0em 0em;
}
.delete_button{
  display: flex;
  justify-content: flex-end;
}
